<% html_title l(:label_worktime_about) %>

<h3><%= l(:label_worktime_inception) %></h3>

<div>
	Hey there. Worktime Log built about 3 month ago and today I completely added missing things and prepare first release. 
</div>

<div>
	Plugin built especially for internal and tested with PostgreSQL configuration ONLY and with base RoR knowledges, so suggestions welcomed. Feel free to make forks and touch me in case if you have some fixes and suggestions.
</div>

<ul>
	<li>
		<a href="https://github.com/themondays/redmine_worktime_log" target="_BLANK">Project page on GitHub</a>
	</li>
	<li>
		<a href="http://themondays.ca/redmine/plugins/worktimelog/" target="_BLANK">Project page</a>
	</li>
	<li>
		<a href="http://themondays.ca/coffee/" target="_BLANK">Bring me a coffee</a>
	</li>
</ul>

<div>Developed by <a href="http://themondays.ca/">Jared Denison</a> in 2014. </div>