<% html_title l(:label_worktime_license) %>
<h3><%= l(:label_worktime_license) %></h3>
<div>
	This plugin is available under <a href="http://creativecommons.org/licenses/by/3.0/" target="_BLANK">CC-BY 3.0</a>
</div>
<div>
	Attribution — You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
</div>