<% html_title l(:label_worktime_credits) %>
<h3><%= l(:label_worktime_credits) %></h3>
<h4>Additional thanks to:</h4>
<ul>
	<li>Stopwatch timer originally from CakePHP app called project-manager - https://github.com/websightdesigns/project-manager/blob/master/README.md</li>
	<li>jQuery.choosen - http://harvesthq.github.io/chosen/ by Harvest (http://www.getharvest.com/)</li>
</ul>

<div>
	If you found something unappropriate or I forgot mention someone please touch me and we fix it.
</div>

